<h1>Welcome to Alpha Blog</h1>

<%= link_to image_tag('profileimage.jpg'), 'www.mashrurhossain.com' %><br/><br/>
<%= link_to 'about', about_path %> <br/><br/>
<%= link_to "Articles list", articles_path %> <br/><br/>