$navbar-default-bg: #003380;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo
{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover
{
  color: #fff;
  text-decoration: none;
}

.center
{
  text-align: center;
}

.jumbotron
{
  background-image: asset-url('background.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1
{
  color: #003380;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight:bold; 
}


.btn-danger
{
  background-color: #66ff33;
}


footer
{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer hover
{
  color:#222;
}

footer small
{
  float: left;
}

footer ul
{
  float: right;
  list-style: none;
}

footer ul list
{
  float: left;
  margin-left: 15px;
}
